<div class="container col-xs-6 col-xs-offset-3">
  <input type="email" id="inputEmail" class="form-control form-spacing" placeholder="Email Address" ng-model="auth.email" required autofocus>
  <input type="password" class="form-control form-spacing" placeholder="Password" ng-model="auth.password" required>
  <input type="text" class="form-control form-spacing" placeholder="Username" ng-model="auth.username" required>
  <a class="btn btn-lg btn-default col-xs-6" ng-click="loginUser()">Login</a>
  <a class="btn btn-lg btn-default col-xs-6" ng-click="registerUser()">Register</a>
</div>