<div ng-repeat="song in songs">
  <ul class="row songInListView box-style">
    <div class="col-sm-3">
       <img class="thumbnail" src="{{song.cover}}" alt="{{song.album}} artwork">
    </div>
    <div class="col-sm-8 songInfo">
        <div class="fa fa-music"><a ng-href="#!/item/view/{{song.id}}"> {{song.name}}</a></div><br>
        <div class="fa fa-microphone"> {{song.artist}}</div><br>
        <div class="fa fa-circle"> {{song.album}}</div><br>
    </div>
    <div class="col-sm-1"><a class="fa fa-trash-o deleteIcon" aria-hidden="true" ng-click="deleteSongPressed(song.id)"></a></div>
  </ul>
</div>



<div></div>