/*DIRECTIONS***********************************************************************************************************************

1. Currently, the <li> items are block level elements. Add correct styles to remove the bullets and display them as inline elements.
2. The three <span> elements should be displayed as block elements with a 1 pixel border and 25 pixel margin on all sides.
3. In the article element with the class n-child, add a 1 pixel border around every even numbered section element.

************************************************************************************************************************************/


li {
	list-style: none;
	display: inline;
}

span {
	display: block;
	border: 1px solid black;
	margin: 25px;
}

.n-child section:nth-of-type(2n) {
	border: 1px solid purple;
}